.modal {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 80%;
  margin: auto;
  position: absolute;
  z-index: 3;
  justify-self: center;
  background-color: #ccc;
  border-radius: 1rem;
  color: blue;
  font-size: 12px;
}
.mainContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
