body {
  margin: 0;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 90%;
  height: 90%;
  background-color: rgb(196, 196, 196);
  border-radius: 0.5rem;
}
.cardContainer {
  margin: auto;
}
.scrollContainer {
  overflow: scroll;
}
.scrollContainer::-webkit-scrollbar {
  display: none;
}
.scrollContainer:hover::-webkit-scrollbar {
  display: block;
  height: 0;
  width: 0.313rem;
}
.scrollContainer::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0.125rem;
}
